optimization/opt_func/gen/
*_slrt_rtw/
*_grt_rtw/
*slprj/
*sfprj/
*.asv
*.autosave
MARLO experiment/simulation/compliant_simulator/**/*.dlm
MARLO experiment/simulation/compliant_simulator/**/*_compiledPortWidths.m
MARLO experiment/simulation/compliant_simulator/**/*_sfun.mexw64
MARLO experiment/simulation/compliant_simulator/**/ecat_config_xml_3.c
MARLO experiment/simulation/compliant_simulator/Controller/Controller_Exp.xml
MARLO experiment/simulation/compliant_simulator/Controller/Controller_Expref.m
MARLO experiment/simulation/complient_simulator/Controller/Controller_Expref.m
MARLO experiment/simulation/compliant_simulator/Controller/Controller_Expbio.m
MARLO experiment/simulation/compliant_simulator/Controller/Controller_Exppt.m
